<launch>
    <node pkg="camera_node" type="camera_node" name="camera_node" output="log" ns="camera_node/front">
        <param name="frame_rate" value="10"></param>
        <param name="camera_port" value="0"></param>
        <!-- <param name="video_path" value="$(find camera_node)/../../data/src_videos/reverse_short.mp4"> </param> -->
        <!-- <param name="video_path" value="$(find camera_node)/../../data/src_videos/reverse_stages2.mp4"> </param> -->
        <param name="video_path" value="$(find camera_node)/../../data/src_videos/blue_lines.avi"> </param>
        <!-- <param name="video_path" value="$(find camera_node)/../../data/src_videos/reverse_stages.avi"> </param> -->
        <remap from="/image_topic" to="/image_topic/front"/>
    </node>
    <node pkg="path" type="path_node" name="path_node" output="screen"/>
    <param name="angle" value="0"/>
    <param name="video_feed_back" value="0"></param>
    <param name="lidar_visualize" value="1"> </param>
    <rosparam file="$(find path)/launch/avoid.yaml"></rosparam>
</launch>