<launch>
    <param name="video_path" value="$(find camera_node)/../../data/video/trace_line.mp4"/>
    <param name="output_path" value="$(find camera_node)/../../data/runtime_images/"/>
    <node pkg="camera_node" type="camera_node" name="camera_node" output="screen"/>
    <node pkg="path" type="visualize_line" name="visualize_line" output="screen"/>
</launch>